.sports-news {
    display: flex;
    gap: 12px;
}

.sports-main {
    max-width: 350px;

    img {
        width: 100%;
    }

    &:hover {
        color: $primary !important;
        cursor: pointer;

        .publ-date {
            color: black
        }

        img {
            opacity: 0.9;
        }
    }

    p {
        color: black
    }
}

.sports-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.sports-item {
    height: 150px;
    display: flex;
    gap: 15px;

    img {
        width: 225px;
        height: 100%;
    }

    &:hover {
        color: $primary !important;
        cursor: pointer;

        .publ-date {
            color: black
        }

        img {
            opacity: 0.9;
        }
    }
}



@media (max-width: 1200px) {
    .sports-news {
        flex-direction: column !important;
    }

    .sports-main {
        max-width: 100% !important;

        p {
            width: 100% !important;
        }
    }

    .sports-secondary {
        width: 100%;
    }
}



@media (max-width: 768px) {
    .item-text {
        h6 {
            font-size: 14px;
        }

        p {
            font-size: 10px;
        }
    }
}

@media (max-width: 410px) {
    .sports-item {
        img {
            width: 180px;
            height: 80%;
        }

    }

    .item-text {
        h6 {
            font-size: 12.5px;
        }
    }
}