.breaking-container {
    display: flex;
    gap: 6px;

    .main-news {
        position: relative;
        min-width: 50%;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            transition: all 0.5s;

            &:hover {
                scale: 1.1;
            }
        }

        .descr {
            h4 {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }



    .secondary-news {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 80%;
        position: relative;

        .secondary-item {
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                transition: all 0.5s;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        .descr {
            h4 {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .secondary-item {
        position: relative;
    }
}

@media(max-width: 1200px) {
    .breaking-container {
        flex-direction: column;
        align-items: center;

        .secondary-news {
            max-width: 100%;
        }
    }

    .breaking-header {
        justify-content: center;
    }



}

@media(max-width: 768px) {
    .descr {

        span {
            font-size: 12px !important;

        }

        h4 {
            font-size: 14px !important;
            margin-top: 6px;
            line-height: 14px !important;
        }
    }
}

@media(max-width: 436px) {
    .container.breaking-container {
        padding: 0 !important;
        --bs-gutter-x: 0 !important;
    }

    .descr {
        h4 {
            margin-top: 3px !important;
            font-size: 12px !important;
            line-height: 12px !important;
        }
    }
}


@media(max-width: 348px) {

    .descr {
        div {
            padding: 2px !important;
        }

        h4 {
            margin-top: 3px !important;
            font-size: 12px !important;
            line-height: 12px !important;
        }
    }
}