.popular-header {
    &:hover {
        color: $primary;
        cursor: pointer;
    }
}

.adv-text {
    max-width: 250px;
}

@media (max-width: 991px) {
    .adv-text {
        max-width: 200px !important;

        p {}
    }
}

@media (max-width: 768px) {
    .featured-news {
        flex-direction: column;
    }
}