.additional-info {
    position: sticky;
    position: -webkit-sticky;
    top: -105px;
}

.popular-header {
    &:hover {
        color: $primary;
        cursor: pointer;
    }
}

.adv-text {
    top: 50%;
    transform: translateY(-50%);
    max-width: 220px;
}

@media (max-width: 1200px) {
    .adv-text {
        max-width: 200px !important;

        div {
            font-size: 15px !important;
        }

        p {
            font-size: 13px !important;
        }

    }
}

@media (max-width: 768px) {
    .featured-news {
        flex-direction: column;
    }

    .adv-text {
        max-width: 280px !important;

        div {
            font-size: 22px !important;
        }

        p {
            font-size: 16px !important;
        }
    }
}